/*  Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
/*  Icon  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
/* Variables */
/*  Configuration Global  */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 300;
  color: #555;
}

.wrapper {
  position: absolute;
  width: 900px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.493);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.493);
  border-radius: 8px;
}

h1 {
  position: absolute;
  margin-top: 30px;
  left: 40%;
  font-size: 1.7rem;
  font-weight: 100;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

a {
  display: absolute;
  margin: 2px;
  color: #5f27cd;
  font-size: 0.9rem;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
}

a:hover {
  font-weight: 400;
  color: #555;
}

a:visited {
  color: #555;
}

a:first-child::after {
  content: "|";
  margin: 4px;
}

a:active {
  color: rgba(153, 150, 150, 0.3);
}

i {
  display: inline-block;
  color: #5f27cd;
  margin-right: 10px;
  font-size: 1.3rem;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
}

.p-nav {
  padding: 5px;
  right: 15px;
}

.text {
  padding: 55px;
  font-size: 0.9rem;
  font-weight: 300;
  text-align: justify;
  line-height: 25px;
  letter-spacing: 1px;
}

.important {
  color: #5f27cd;
}

.score-goal {
  position: absolute;
  margin-top: 25px;
  left: 64%;
  color: #5f27cd;
  font-size: 1.8rem;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}

.player-panel-0,
.player-panel-1 {
  float: left;
  padding: 100px;
  width: 50%;
  height: 400px;
}

.winner {
  background-color: #5f27cd;
}

.active {
  background-color: rgba(153, 150, 150, 0.3);
}

/* Players configuration */
.player-name {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 100;
  letter-spacing: 2px;
}

.active .player-name {
  font-weight: 300;
}

.winner .player-name {
  font-weight: 300;
  color: #fff;
}

.active .player-name::after {
  position: absolute;
  top: -15px;
  left: -10px;
  content: "\2022";
  font-size: 4rem;
  color: #5f27cd;
}

.player-score {
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 300;
  color: #5f27cd;
}

.player-current-box {
  padding: 5px;
  margin: 0 auto;
  width: 50%;
  height: 40%;
  background-color: #5f27cd;
  border-radius: 6px;
  color: #fff;
}

.player-current-label {
  margin: 5px 0 2px 0;
  font-size: 0.8rem;
  color: #fff;
}

.player-current-score {
  font-size: 2rem;
  font-weight: 100;
}

/* Input  */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-value {
  position: absolute;
  height: 30px;
  width: 80px;
  top: 65px;
  right: 20%;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 0.7rem;
}

.input-value:focus {
  color: #5f27cd;
  outline: none;
}

.input-value::-webkit-input-placeholder {
  font-size: 0.5rem;
  font-weight: 400;
}

.input-value:-ms-input-placeholder {
  font-size: 0.5rem;
  font-weight: 400;
}

.input-value::-ms-input-placeholder {
  font-size: 0.5rem;
  font-weight: 400;
}

.input-value::placeholder {
  font-size: 0.5rem;
  font-weight: 400;
}

/* Button */
button {
  position: absolute;
  display: inline-block;
  width: 200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #555;
  background: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

button:hover {
  font-weight: 400;
}

button:hover i {
  margin-right: 20px;
}

button:focus {
  outline: none;
}

/*  Dice */
.btn-new {
  left: 19%;
  top: 70px;
}

.btn-roll {
  top: 310px;
}

.btn-hold {
  top: 350px;
}

.btn-set-value {
  left: 90%;
  top: 70px;
}

.dice {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 80px;
  -webkit-box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

.dice1 {
  top: 100px;
}

.dice2 {
  top: 195px;
}
/*# sourceMappingURL=style.css.map */